<h1>Projects on Kickstarter</h1>
<ul>
<% @projects.each do |project| %>
    <li><%= link_to(project.name, project_path(project)) %></li>
<% end %>
</ul>
<%= button_to("Create Project", new_project_path, method: :get) %>